* {
    font-family: "Poppins", "sans-serif";
    font-weight: bold!important;
    /* padding: 0!important; */
    /* margin: 0!important; */
}

body {
    background-color: #212121!important;
    color: #fff!important;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    row-gap: 1em;
    padding: 2em 0em!important;
    margin: 0em;
    width: 100vw;
    height: 100vh;
}

i,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0em!important;
}

#score {
    font-size: 2em;
}

.dots {
    margin: 0em;
}

canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
}

.drop-down {
    background-color: #212121;
    color: #fff;
    border: 0px;
    padding: 0em;
    margin: 0em;
}

.drop-down-options {
    background-color: #fff;
    color: #212121;
    border: 0px;
}

.list {
    width: 8em;
    margin: 0.4em;
    display: inline-block;
    margin-left: 1em;
}

a,
.list>a {
    color: #212121;
    text-decoration: none!important;
    margin: 0.3em;
}

.icon {
    margin-right: 0.5em!important;
}

row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    column-gap: 1em;
    width: 240px;
}

column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    row-gap: 1em;
}

.button {
    color: #212121;
    background-color: #fff;
    width: 5em;
    height: 2.5em;
    border: 0px;
    border-radius: 15px;
    font-size: 1.2em;
}

.button:active {
    background-color: #313131;
}

.center {
    width: 80%;
    text-align: center;
    font-size: 0.7em;
    /* margin-bottom: 1em!important; */
    padding-bottom: 2em!important;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    row-gap: 1em;
}

.play {
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    background-color: #313131;
    color: #fff;
}

.reset {
    font-size: 1.5em;
    width: 220px;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    background-color: #313131;
    color: #fff;
}

.play:active,
.reset:active {
    background-color: #000;
}